.stage {
  margin-top: 250px;
  perspective: 2000;
}
.rotate {
  transform-style: preserve-3d;
  display: grid;
  grid-template-columns: 120px 120px 120px;
  grid-template-rows: auto;
  grid-template-areas: "wheel wheel wheel";
}

.wheelContainer {
  margin-top: 100px;
  /*
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: auto;
  grid-template-areas: "wheel wheel wheel";
  */
}
