.face {
  position: absolute;
  height: 100px;
  width: 100px;
  color: rgba(0,0,0,0.9);
  border-radius: 5px;
  border: 10px solid black;
  opacity: 0.9;
}

.inner {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-top: 28px;
}

/*
.Animate {
  animation: spinWheel 2s ease infinite;
}

@keyframes spinWheel {
  100% {
    transform: translateY(-400%);
  }
}
*/
